@page
@model Todo.Web.Pages.Create
@{
    ViewData["Title"] = "Nova tarefa";
}

<h1 class="display-4">Nova Tarefa</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" placeholder="Nova tarefa..." asp-for="Input.Title" autofocus>
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
</form>