@page "/create"
@inject CreateTodoHandler handler
@inject NavigationManager NavigationManager

<h3>Create</h3>
<EditForm Model=@Input OnValidSubmit=@Submit>
    <DataAnnotationsValidator/>
    <ValidationSummary />
    
    <div class="form-group">
        <label for="Title">Title</label>
        <InputText @bind-Value=Input.Title class="form-control" id="Title"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>

@code {
    CreateTodoRequest Input = new CreateTodoRequest();

    async void Submit(EditContext editContext)
    {
        await handler.HandleAsync(Input);
        NavigationManager.NavigateTo("/");
    }

}